{$LISTEN_DOMAIN} {
    # Health check endpoint
    handle /health {
        respond "ModernWiki Proxy is healthy" 200
    }
    
    # Webhook endpoint - proxy to webhook controller
    handle /webhook* {
        reverse_proxy webhook:5000
    }

    handle /git* {
        uri strip_prefix /git
        reverse_proxy gitea:3000
    }

    # todo handle artalk
    
    # Import additional Caddyfile configurations
    # Users can mount their own rules to /etc/caddy/conf.d/
    import /etc/caddy/conf.d/*
    
    # Default route - proxy to static site
    handle {
        reverse_proxy static-site:3000
    }
    
    # Logging
    log {
        output stdout
        level INFO
    }
}

{$ATK_LISTEN_DOMAIN} {
    @api_cors {
        header Origin *
        path /api/*
    }
    handle @api_cors {
        header {
            Access-Control-Allow-Origin {http.request.header.Origin}
            Access-Control-Allow-Methods "GET, POST, OPTIONS"
            Access-Control-Allow-Headers "Content-Type, Authorization"
        }
        reverse_proxy artalk:23366 {
            header_up X-Forwarded-For {header.X-Forwarded-For}
        }
    }
    handle {
        reverse_proxy artalk:23366 {
            header_up X-Forwarded-For {header.X-Forwarded-For}
        }
    }
}